@use '@variables' as variables;

.background {
  background-image: url('/gradient.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.viewport {
  min-height: 80vh;
  position: relative;
}

.wave {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 150px;
}

@media screen and (max-width: variables.$mobile) {
  .wave {
    top: 100px;
    width: 200%;
    left: 50%;
    transform: translateX(-50%);
  }

  .background {
    padding: 0;
    overflow-x: hidden;
  }

  .viewport {
    min-height: 0;
  }
}
