@use '@variables' as variables;
@use '@mixins' as mixins;

.heading {
  color: white;
  @include mixins.fontPrimaryLight;
  font-size: 35px;
  .bold {
    @include mixins.subheading;
    font-size: 35px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin-top: 50px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.image {
  height: auto;
  display: block;
  margin: 30px auto;
  width: 400px;
  padding: 0 40px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  color: variables.$black;
  position: relative;
  @include mixins.fontPrimaryBold;
  font-size: 24px;
  &:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: variables.$primaryColor;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}

.details {
  margin-top: auto;
  color: variables.$black;
  height: 80px;
  @include mixins.fontPrimaryMedium;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    margin-top: 150px;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .card {
    margin: 0 auto 50px;
  }
  .details {
    margin-top: 00px;
  }
  .heading {
    font-size: 22px;
    .bold {
      font-size: 28px;
    }
  }
  .image {
    width: 100%;
    max-width: 400px;
  }
}
