@use '@variables' as variables;

.menuItem {
  position: relative;
  a:hover,
  &:hover .chevron {
    // color: variables.$secondaryColor;
    transition: 0.3s;
  }
  button,
  a {
    background: none;
    text-decoration: none;
    padding: 10px 20px;
    // font-family: $fontPrimarySemiBold;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    color: white;
  }
  &.isMobile {
    color: variables.$white;
    padding: 5px;
    button, // for chevron
    button p,
    a {
      color: variables.$white;
      // font-family: $fontPrimary;
      padding: 5px;
    }
  }

  .menuItemWithSubnav {
    display: flex;
    align-items: center;
  }
  &.includeChevron {
    display: flex;
  }
  .chevron {
    width: 10px;
    position: relative;
    right: 10px;
    top: 1px;
  }
}

@media screen and (max-width: variables.$tablet) {
  .menuItem {
    .chevron {
      right: -5px;
    }
  }
}
